.password-widget {
  margin:  5px 0;
  padding: 5px 2px;
}

.password-widget:before {
  content: " ";
  display: table;
}

.password-widget:after {
  content: " ";
  display: table;
  clear:   both;
}

.pw-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.pw-input { }

.pw-wrapper.pw-button {
  display:      block;
  float:        left;
  margin-right: 5px;
}

a.pw-button {
  text-decoration: none;
}

a.pw-button,
a.pw-button:active,
a.pw-button:visited {
  color: blue;
}

a.pw-button:hover {
  color:  red;
  cursor: pointer;
}

.pw-info {
  font-size:   16px;
  line-height: 10px;
  margin:      0 2px 0 0;
  padding:     0;
}

.pw-meter-bar {
  clear:      both;
  float:      right;
  background: #cccccc;
  height:     10px;
  margin:     0;
}

.pw-meter-text {
  clear:      both;
  float:      right;
  height:     14px;
  margin-top: 0px;
}

.pw-blinkenlights {
  clear: both;
  width: 150px;
  margin: 0;
  padding: 0;
}

.pw-light {
  display: inline;
  padding-right: 5px;
}
